# Ink binary compilation
*.bin
*.tmp

# Ink files
inkcpp_cl/*.ink
*.json
!inkcpp_py/sources.json

# Visual Studio code
*.code-workspace

# Doxygen
Documentation/html/
Documentation/inkcpp_py.html

# Output
Build/*
build/*
bin/
Bin/
