# Ink binary compilation
*.bin
*.tmp

# Ink files
inkcpp_cl/*.ink
*.json
!inkcpp_py/sources.json

# Visual Studio code
*.code-workspace

# Doxygen
Documentation/*
!Documentation/cmake_example/
!Documentation/cmake_example.zip

# Output
Build/*
build/*
bin/
Bin/
