name: build
on: 
  push: 
    branches: 
      - master
  pull_request:

env:
  BUILD_TYPE: release

jobs:
  compilation:
    name: Compilation and Unit Tests
    runs-on: ${{ matrix.os }}
    strategy: 
      matrix:
        include:
          - os: macos-latest
            artifact: macos
            name: MacOSX
            inklecate_url: https://github.com/inkle/ink/releases/download/0.9.0/inklecate_mac.zip
          #- os: windows-latest
          #  artifact: win64
          #  name: Windows x64
          #  inklecate_url: https://github.com/inkle/ink/releases/download/0.9.0/inklecate_windows_and_linux.zip
          - os: "ubuntu-20.04"
            artifact: linux
            name: Linux x64
            inklecate_url: https://github.com/inkle/ink/releases/download/0.9.0/inklecate_windows_and_linux.zip
            inklecate_pre: "mono "
            inklecate_post: ".exe"

    steps:

    # Checkout project
    - uses: actions/checkout@v2
      with:
        submodules: true

    # Download inklecate
    - uses: suisei-cn/actions-download-file@v1
      name: Download Inklecate 
      id: download_inklecate 
      with:
        url: ${{ matrix.inklecate_url }}
        target: "inklecate/"

    # Install Inklecate
    - name: Deploy Inkelcate 
      shell: bash
      run: |
        cd inklecate
        unzip *.zip
        echo "INKLECATE=${{ matrix.inklecate_pre }}$GITHUB_WORKSPACE/inklecate/inklecate${{ matrix.inklecate_post }}" >> $GITHUB_ENV

    # Setup python
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    # Setup CMake
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.9
      with:
        cmake-version: '3.21.x'

    # Create a build directory to store all the CMake generated files
    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    # Run CMake configuration to create build files
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    # Build using CMake and OS toolkit
    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    # Run CMake tests (unit tests, etc.)
    - name: CTests
      if: ${{ !env.ACT }}
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: ctest . -C $BUILD_TYPE -V

    # Copy all build artifacts to the bin directory
    - name: Install
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: cmake --install . --config $BUILD_TYPE --prefix bin

    # Upload bin directory as artifact
    - name: Upload Binary Artifact
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.artifact }}
        path: build/bin/

    # Make sure Inkproof has everything it needs to run our executable
    - name: Setup Ink Proof
      shell: bash
      working-directory: proofing/ink-proof
      run: |
        python3 install_deps.py
        cp ../inkcpp_runtime_driver drivers/
        chmod +x drivers/inkcpp_runtime_driver
        mkdir deps/inkcpp
        cp ../../build/bin/bin/* deps/inkcpp/
        chmod +x deps/inkcpp/inkcpp_cl
    
    # Run it
    - name: Run Ink Proof
      shell: bash
      working-directory: proofing/ink-proof
      run: |
        python3 proof.py --examples 'I...' inkcpp inklecate_v0.9.0 > run.out
        echo -e "NAME=\"${{ matrix.name }}\"\nRESULT=\"$(cat run.out)\"" > ${{ matrix.artifact }}.sh

    # Upload results artifact
    - name: Upload Results Artifact
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v2
      with:
        name: results
        path: proofing/ink-proof/${{ matrix.artifact }}.sh

    # TODO: Also upload website?
  reporting:
    name: "Pull Request Report"
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs: compilation
    steps:
      # Download Ink Proof Results
      - uses: actions/download-artifact@v2
        with:
          name: results
          path: "results"

      # Create comment text
      - name: Create Comment Text
        shell: bash
        run: |
          COMMENT = ""
          FILES="/results/*.sh"
          for f in $FILES
          do
            echo "Reading results from $f"
            chmod u+x $f
            ./$f
            COMMENT=$(echo -e "$(echo $COMMENT)$NAME: $RESULT\n")
          done
          echo "COMMENT=$COMMENT" >> $GITHUB_ENV
      
      # Post Comment
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: ${{ env.COMMENT }}
        

