name: Create release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  release:
    name: Release pushed tag
    runs-on: ubuntu-22.04
    environment:
      name: pypi
      url: https://pypi.org/p/inkcpp-py
    permissions:
      id-token: write
      contents: write 
    steps:
      - uses: actions/checkout@v3
      - name: Download artifacts
        uses: marcofaggian/action-download-multiple-artifacts@v3.0.8
        with:
          names: linux-cl linux-lib unreal macos-cl macos-lib win64-cl win64-lib python-package-distribution
          paths: linux-cl linux-lib unreal macos-cl macos-lib win64-cl win64-lib dist
          workflow: build.yml
          branch: master
      - name: Zip
        run: |
          for f in linux-cl linux-lib unreal  macos-cl macos-lib win64-cl win64-lib; do zip -r $f $f; done
      - name: List
        run: tree
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.8
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes \
              "$tag" "linux-cl.zip" "linux-lib.zip" "unreal.zip" "macos-cl.zip" "macos-lib.zip" "win64-cl.zip" "win64-lib.zip"

